@charset "utf-8";
.conteiner_{
    width: 100%;
    position: relative;
}
.section--visual{
    background: url(../img/bg.jpg) no-repeat center bottom;
    position: relative;
    background-size: cover;
}
.section--visual:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
}
.section--visual .inner{
    display: flex;
    padding: 160px 0;
}

.section--visual .summary {
    flex: 1;
    margin-right: 90px;
    color: #fff;
}

.section--visual .summary--title {
    font-size: 3.4rem;
}
.section--visual .summary--description {
    color: #fff;
    margin-top: 50px;
}
.sign-form {
    float: 1;
}
.sign-form li {
    margin-bottom: 15px;
}
.sign-form .input--text {
    width: 100%;
    height: 40px;
}
.sign-form button[type="submit"]{
    width: 100%;
    height: 60px;
    justify-content: center;
    font-size: 1.1rem;
}
.sign-form .caption {
    color: rgba(225, 225, 225, 0.6);
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 5px;
    text-align: center;
    letter-spacing: -0.03rem;
}


@media all and (max-width:1024px) {
    .section--visual {
        background: url(../img/bg-small.jpg) no-repeat center bottom;
    }
    .section--visual .inner {
        max-width: none;
        display: block;
        padding: 80px 20px;
    }

    .section--visual .summary {
        text-align: center;
        margin-bottom: 50px;
    }
    .sign0form {
        width: auto;
        min-width: 500px;
        margin: 0 auto;
    }
}